@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Outfit:wght@100;200;300;400&display=swap");
* {
  box-sizing: border-box;

  font-family: "Outfit", sans-serif;
  scroll-margin-top: 60px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background: #fff;
  scroll-behavior: smooth;
  max-width: 100%;
  --nav-load-time: 300ms;
  --nav-link-load-time: 500ms;
}
/*Foto de Rick Jamison en Unsplash */
.section-home {
  background-image: url(/imgs/rick-jamison-9CJTrF-HnlU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: static;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
@media (max-width: 540px) {
  .section-home {
    height: fit-content;
  }
}
.section-vacation {
  position: static;
  float: none;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
  margin: 0px;
  padding: 2%;
  width: 100%;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section-services {
  position: static;
  float: none;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
  margin: 0px;
  padding: 2%;
  width: 100%;
}
.section-title {
  margin-left: 1em;
}

.Homepage {
  position: static;
  float: none;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.FAQ {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
/*----------------------------------------------------------------------------------------------------------------
---------------------Peloader Secction----------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 9999;
}
.preloader.hide {
  opacity: 0;
  pointer-events: none;
}
.preloader-text {
  font-size: xx-large;
  color: #fff;
  display: flex;
  gap: 10px;
}

/*----------------------------------------------------------------------------------------------------------------
--------------------- Home------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/
.header-slogan-container {
  text-align: center;
}

.header-slogan {
  font-size: 2rem;
  color: #007bff;
  text-transform: uppercase;
  padding: 1rem;
  margin: 0;
  letter-spacing: 2px;
}

@media (max-width: 540px) {
  .header-slogan {
    font-size: 1.5rem;
  }
}

/*social media icons*/

a.social {
  transition: transform 250ms;
  display: inline-block;
  transition: all 0.2s ease;
}

a.social:hover {
  transform: translateY(-5px);
  color: #0056b3;
}

a.facebook,
a.instagram,
a.tiktok {
  color: #333;
}
.footer-items a.facebook {
  color: #fff;
}
.footer-items a.instagram {
  color: #fff;
}
.footer-items a.tiktok {
  color: #fff;
}
.footer-items a.social:hover {
  transform: translateY(-5px);
  color: aquamarine;
}
.component-div {
  padding: 1em;
  max-width: 300px;
}
.social-icons-div {
  width: 100%;
  margin: 0;
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
}
.home-row {
  margin: 0px;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 770px) {
  .home-row {
    padding-bottom: 10px;
    padding-top: 00px;
  }
  .info-container {
    margin: 0px;
  }
  .info-div {
    margin-top: 0px;
  }
}
.home-column {
  width: 100%;
  max-width: 45%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .home-column {
    max-width: 50;
  }
}

@media (max-width: 890px) {
  .home-column {
    max-width: 100%;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.info-div {
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.info-nav {
  display: flex;
  justify-content: center;
  padding: 0;
}

.info-menu {
  margin: 0;
  display: block;
}

.info-button {
  outline: none;
  border: none;
  background: none;
  font-size: 1em;
  padding: 0.8em;
  color: #333;
  transition: all 0.2s ease;
}

.info-menu.active .info-button,
.info-button:hover {
  color: #007bff;
}

.info-carousel {
  max-width: 400px;
  margin: 0 auto;
}

.card-info {
  padding: 1em;
  border-radius: 0.25rem;
  border: none;
  background-color: #ffffffe8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  color: #333;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

.contacts-span,
.address-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.custom-link {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1em;
  transition: all 0.2s ease;
}
.custom-link:hover {
  color: #007bff;
  transform: translateY(-3px);
}
.footer-items .custom-link {
  color: #fff;
}
.footer-items .custom-link:hover {
  color: aquamarine;
  transform: translateY(-3px);
}
.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.social-label {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.carousel-img {
  width: 100%;
  border-radius: 1rem;
}

.carousel-body {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 80%;
}
/*----------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------Vacations------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------*/
.vacation-cards-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.vacation-cards-column {
  width: 100%;
  max-width: 33%;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .vacation-cards-column {
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .vacation-cards-column {
    max-width: 100%;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/

/* Add your existing styles Por si hay que poner mas cosas aqui que ya esten en los demas formatos de imagen*/

.CardCotizacion {
  background-color: #555;
}

/*****************************************this is a test**********************************/
/* Card Styles */
.cotizacion-card-container {
  position: relative;
  margin: 10px;
}

/* Overlay Styles */
.cotizacion-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cotizacion-card-overlay {
  width: 70%;
  padding: 20px;
  background-color: #ffffffee;
  color: #000;
  border-radius: 1em;
  text-align: left;
}
.cotizacion-card-overlay:hover {
  background-color: #fff;
}
.cotizacion-card-overlay h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.cotizacion-card-overlay p {
  margin: 0;
}

.cotization-div {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cotizacion-card-overlay p span {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
}

/*-------------------------footer shits----------------------------*/
.anchor-footer {
  justify-content: left;
}
.footer {
  background-color: #1e6abb;
  min-width: 100%;
}
.footer-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 1em;
}
.footer-text {
  color: #ffffff;
}
.footer-first-text {
  font-size: larger;
  color: #fff;
  text-align: center;
  padding: 1em;
}
.component-div {
  border: 1px solid white;
  padding: 1em;
  max-width: 300px;
}

.column {
  max-width: 50%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cotization-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #5e5df0 0 10px 20px -10px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  outline: 0 solid transparent;
  padding: 10px 2em;
  border: 0;
  margin-right: 1.5em;
  transition: background-color 0.3s ease;
}
.cotization-button:hover {
  background-color: #0056b3;
}
.section-FAQ {
  position: static;
  margin: 0px;
  padding: 0px;
  width: 100%;
  padding-top: 80px;
}
.faq-component {
  padding: 1em 3em;
}

.faq-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-component h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.faq-item section {
  padding-top: 15px;
}
.faq-item h3 {
  border-bottom: 1px solid #00000081;
}
.faq-item li {
  padding: 15px;
}
.faq-item li p {
  padding-top: 8px;
}
